img{
     max-width: 100%;
}

body{
    background-color: black;
}

.netflixHeader{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)) , url("img/arkaplan.jpg");
}
.headerBody{
    height: 60%;
    display: flex;
    align-items: center;
}

.accordion-item{
    margin-top: .5rem;
    border: none;
}

.accordion-button{
    background-color: rgb(44, 44, 44);
    color: white;
}
